.list
  position: relative
  ul
    z-index: 15
    position: absolute
    top: 28px
    left: -145px
    width: 160px
    background-color: #fff
    li
      &:hover
        background-color: #f9f9f9

      a
        padding-left: 15px
        line-height: 30px
        font-weight: 400
        color: #718888
        font-size: 13.5px
      .logout
        color: #377dff